<div class="home">
    <div class="socialmedia">
        <a href=https://open.spotify.com/track/70rZadYLBspTsW1CDcEdLI><img src="/images/socialmedialogo/4x 3/spotifylogo.png" ;/></a>
        <a href=https://itunes.apple.com/gb/album/ocean/1340629872?i=1340629917&app=music&ign-itsct=1340629917-1340629917&ign-itscg=0177&ign-mpt=uo%3D4><img src="/images/socialmedialogo/4x 3/applelogo.png" ;/></a>
        <a href=https://soundcloud.com/brunch-box-band><img src="/images/socialmedialogo/4x 3/soundcloudlogo.png" ;/></a>
        <a href=https://www.youtube.com/channel/UCVGYRhMsqcAtgq6IiCSDcRg><img src="/images/socialmedialogo/4x 3/youtubelogo.png" ;/></a>
        <a href=https://twitter.com/BrunchboxBand><img src="/images/socialmedialogo/4x 3/twitterlogo.png" ;/></a>
        <a href=https://www.instagram.com/brunchboxband/><img src="/images/socialmedialogo/4x 3/instalogo.png" ;/></a>

    </div>

    <h1>BRUNCHBOX</h1>

</div>