<div class="home">
    <div class="socialmedia">
        <a href=#><img src="/images/socialmedialogo/4x 3/spotifylogo.png" ;/></a>
        <a href=#><img src="/images/socialmedialogo/4x 3/applelogo.png" ;/></a>
        <a href=https://soundcloud.com/brunch-box-band><img src="/images/socialmedialogo/4x 3/soundcloudlogo.png" ;/></a>
        <a href=https://www.youtube.com/channel/UCVGYRhMsqcAtgq6IiCSDcRg><img src="/images/socialmedialogo/4x 3/youtubelogo.png" ;/></a>
        <a href=https://twitter.com/BrunchboxBand><img src="/images/socialmedialogo/4x 3/twitterlogo.png" ;/></a>
        <a href=https://www.instagram.com/brunchboxband/><img src="/images/socialmedialogo/4x 3/instalogo.png" ;/></a>

    </div>

    <h1>BRUNCHBOX</h1>

</div>