<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="nav">
  <ul>
      <li><a href="/">home</a></li>
      <li><a href="/music">music</a></li>
      <li><a href="/photos">photos</a></li>
      <li><a href="/videos">videos</a></li>
      <li><a href="/store">store</a></li>
  </ul>
  </div>
    {{{body}}}
  </body>
</html>
