<div class="gallery">
    <div class="left">
        <div><img src="/images/gallerypics/grouppic.jpg"/></div>
        <div><img src="/images/gallerypics/gabeandy.jpg"/></div>
        <div><img src="/images/gallerypics/gabedrum.jpg"/></div>
        <div><img src="/images/gallerypics/groupandal1.jpeg"/></div>
    </div>
    <div class="right">
        <div><img src="/images/gallerypics/brunchstudio1.JPG"/></div>
        <div><img src="/images/gallerypics/brunchstudio2.JPG"/></div>
        <div><img src="/images/gallerypics/groupandal2.JPG"/></div>
    </div>
</div>