<div class="gallery">
    <div class="left">
        <img src="/images/gabedrum.jpg"/>
    </div>
    <div class="right">
        <div><img src="/images/grouppic.jpg"/></div>
        <div><img src="/images/gabeandy.jpg"/></div>
    </div>
</div>