<div class="gallery">
    <div class="left">
        <img src="/images/gabedrum.jpg"/>
    </div>
    <div class="right">
        <img src="/images/grouppic.jpg"/>
        <img src="/images/gabeandy.jpg"/>
    </div>
</div>