@font-face{
  font-family:"The Rainmaker";
  src: url("../fonts/The Rainmaker.otf");
}

html{
  height:100%;
}

body {
  padding: 50px;
  font: 24px "Gill Sans", Helvetica, Arial, sans-serif;
  background: linear-gradient(hotpink, mintcream);
  min-height:100%;
}


.nav li{
  display:inline-block;
  margin-right:50px;
}

.nav{
  text-align:center;
}

a {
  position: relative;
  color: floralwhite;
  text-decoration: none;
}

a:hover {
  color: floralwhite;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: floralwhite;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

h1 {
  font: 80px "The Rainmaker", Helvetica, Arial, sans-serif;
  text-align: center;
  color: floralwhite;
}
